<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>Welcome <%= page %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde iusto, ipsum provident enim, qui sed, accusamus illum quae veniam pariatur dolor assumenda dicta tenetur eaque in voluptates voluptatum possimus explicabo aliquam alias recusandae delectus similique laudantium repellendus? Accusamus modi, facere placeat unde minima nemo, voluptate tempore voluptatibus adipisci amet inventore ad suscipit aspernatur harum, enim ipsum sequi aperiam illo nobis distinctio provident officiis omnis? Asperiores dolore, nihil at suscipit inventore autem! Ipsum sapiente quis blanditiis deleniti molestias. Officiis, odio. Fugit voluptatibus cum adipisci harum error, eum repellendus ipsum natus ut vero sunt quas rem, eos pariatur illum facere consequatur nostrum.</p>
</body>
</html>